# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# Jekyll — not used, static HTML only
_site
_posts
_tabs
_data
_plugins
vendor
Gemfile
Gemfile.lock
_config.yml
tools

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
